@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  font-size: 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #111111;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  color: #f3d7b3;
}

/*------------------------------------*/
.header {
  font-family: "Roboto";
  background: url(../images/header/background.jpg);
}
.header__top {
  margin-bottom: 100px;
}
.header__logo img {
  max-width: 285px;
}
.header__link {
  display: none;
}
.header__title {
  font-weight: 100;
  font-size: 96px;
  line-height: 112px;
  margin-bottom: 12px;
  max-width: 800px;
}
.header__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  max-width: 500px;
  margin-bottom: 85px;
}
.header__button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f0f0f0;
  padding: 21px 45px;
  background: linear-gradient(91.56deg, #d15a1a 5.5%, #eab425 48.47%, #ecd85a 96.17%);
  -webkit-box-shadow: 0px 2px 0px #d4661c, inset 0px 4px 0px -2px rgba(236, 214, 87, 0.6);
          box-shadow: 0px 2px 0px #d4661c, inset 0px 4px 0px -2px rgba(236, 214, 87, 0.6);
  border-radius: 33px;
  margin-bottom: 195px;
}

.what-sun {
  background: url(/images/what-sun/sun.png) 0px -80px no-repeat;
  height: 100vh;
}
.what-sun__box {
  padding: 120px 0;
}
.what-sun__title {
  margin-bottom: 48px;
}
.what-sun__text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  max-width: 586px;
  color: #ffffff;
  margin-bottom: 40px;
}
.what-sun__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  max-width: 586px;
  color: #ffffff;
}

.feelings {
  font-family: "Roboto";
}
.feelings__title {
  margin: 142px 0;
}
.feelings__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feelings__box-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 12px;
}
.feelings__box-text {
  font-weight: 100;
  font-size: 35px;
  line-height: 41px;
  max-width: 560px;
}
.feelings__box-img {
  max-width: 459px;
  max-height: 459px;
}